header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; 
}

nav ul li {
    padding: 30px;
}

footer {
    padding: 30px;
    text-align: center;
}

*{
    margin:0;
    padding:0;
}
body{
    width:100%;
    height:100vh;
}
.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding-left: 40%;
    
}

.heading{
    align-items: center;
}
.first-container{
    display: flex;
    justify-content:center;
    border: 2px solid black;
    border-radius: 20%;
    width: 50%;
    height: 50%;
    padding: 10px;
}
.cards{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 50%;
    height: 40%;
    padding: 10%;
   
}
.card{
    border: 2px solid black;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}
img{
    border: 20px solid rgb(184, 204, 181);
    border-radius: 20%;
}
button{
    align-items: center;
    border: 2px solid black;
}